@page "/about"
<pre>
This is a BTC chain parser tool developed by Eni BUNDO, for mainly learning purposes.

It is written in c# and .net core using Blazor for this site.

The code is entirely open source and you can have a look at <a href="https://github.com/enibundo/BlockchainExplorer">https://github.com/enibundo/BlockchainExplorer</a>

Please contact me for feedbacks.
</pre>